html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#selectSport{
	height: 100%;
 	text-align: center;
	display: flex;
  	flex-direction: column;
  	justify-content: center;

}

.buttonSport{
	margin: auto;
}

#advSettings{
	margin-left: 80px;
    width: 465px;
}

#advSettings p{
	margin-left: 40px;
	float: left;
}

#advSettings span{
}

#advSettings input{
	width: 60px;
	float:right;
}

#advSettings label{
	font-size: 15px;
	font-weight: 100;
}

#selectStats{
	height: auto;
	padding: 5px;
 	text-align: left;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	background-color: rgba(235,236,230,0.6);
  	border-radius: 5px;

}

#selectPlayers{
	height: auto;
	padding: 5px;
 	text-align: left;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	background-color: rgba(130,130,255,0.3);
	border-radius: 5px;
}

.removeButton{
	padding-right:15px;
	padding-left:0;
	text-align:right;
	border-right:5px solid #eee;
	border-left:0;
}

#file_upload label{
	min-width: 140px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload{

    height: 30px;
    padding: 7px 5px 0 5px;
	font-size: 16px;
	margin-top: 5px;
	font-family: 'Open Sans';
	cursor: pointer;
	background-color: #66FF33;
    display: inline-block;
    cursor: pointer;
}


#numberInput{
	width: 50px;
}

#selectPlayers input{
	margin: 5px;
}



#info_icon{
  font-size: 25px;
  margin: 5px 5px 0 0;
}

#info_content{
  position: absolute;
  background-color: rgba(200, 200, 200, 0.7);
  margin-left:570px;
  width: 300px;
  border: 1px solid grey;
  color: grey;

}