html, body{
  height: 94%;
  width: 100%;
  background-color: #FFFDFD;
}

a{
  text-decoration: none;
}


#buttonContainer{
  text-align: center;
}

#buttonContainer button{
  width: 120px;
  height: 60px;
  margin: 1px 0;
  font-size: 20px;
}

table tr td:not(#name){
  text-align: center;
  padding: 4px;
  vertical-align: middle;
}

table tr:hover:not(:last-child):not(:first-child){
  background-color: #FCF5E8;
}

.selected {
  background-color: #FCF5E8;
}

.inGameButton{
  background-color: #FD6757 !important;
}

.selectedButton:hover{
  background-color:#76CC60 !important;
}

.selectedButton{
  background-color:#76CC60 !important;
}

.selectedTeam{
  background-color: #76CC60;
}

.playerButtons{
  min-height: 210px;
}

.out {
  background-color: #FF9191;
}

.btn-disable button:not(#stopButton) {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #CFD6D9;
}

.btn-disable2 button:not(#stopButton) {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #CFD6D9;
}

.btn-disable3{
  pointer-events: none;
  cursor: not-allowed;
  background-color: #CFD6D9;
}

.totalRow {
  background-color: #ECF6FF;
}

.inGame {
  background-color: rgb(213, 255, 205);
}

.glyphicon-remove{
	color: red;
}

#gameTime input{
  width: 40px;
}

#info_icon{
  position: absolute;
  margin-left: 50px;
  margin-top: 205px;
  font-size: 18px;
}

#info_content{
  z-index: 1000;
  padding: 3px;
  position: absolute;
  margin-left:50px;
  margin-top:225px;
  background-color: rgba(200, 200, 200, 0.7);
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
}

#info_content span{
  display: block;
}

#box-score{
  margin-top: 10px;
}

.inGameCheckbox{
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
}

#box-score input[type=checkbox]{
}

//login


#main{
  height: 300px;
  margin: 45% auto;
  text-align: center;
}

.row{
  height: 100%;
}

footer{
  text-align: center;
  border-top: 1px solid black;
  padding-top: 3px;
}

footer span{
  display: block;
}




